.padre {
    width: 300px;
    background-color: rgb(255, 0, 238);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

}

.padre2 {
    margin-top: 50px;
    background-color: rgb(255, 0, 238);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.hijo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 80px;
    width: 80px;
}

.hijo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 80px;
    width: 80px;
}

.hijo3 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: green;
    height: 80px;
    width: 80px;
}