header {
    background-color: rgb(248, 255, 114);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 15px;
}
.logo {
    display: flex;
    align-items: center;
}